.bannerimg {
  max-width: 400px;
  height: 2rem;
  padding: 0 10px;
  object-fit: contain;
}

.bannerimg:last-of-type {
  padding-left: 0;
  padding-right:0;
}

.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 5rem;
}

.wrapper {
  position: absolute;
  display: flex;
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
  animation-direction: var(--direction);
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
